*.DS_Store

Logic_Board_1A/**/*.sch-bak
Logic_Board_1A/**/*.lib
Logic_Board_1A/**/*.DS_Store

Logic_Board_1B/**/*.sch-bak
Logic_Board_1B/**/*.lib
Logic_Board_1B/**/*.DS_Store

Logic_Board_1C/**/*.sch-bak
Logic_Board_1C/**/*.lib
Logic_Board_1C/**/*.DS_Store

Logic_Board_1D/**/*.sch-bak
Logic_Board_1D/**/*.lib
Logic_Board_1D/**/*.DS_Store

